

/* STRUCTURE */

body {
	width: 960px;
	margin: 0px auto;
  background-color: lightblue;
  font-family: 'Open Sans', sans-serif;
  color: #666;
}
header {
	text-align: center;
  color: #666
}

main {
  margin-top: 100px;

}

.pics {
  float:left;
  width: 300px;
  height:300px;
  margin-right:30px;
	outline-style: solid;
  outline-color: #black;
}
  .pics:last-child {
    margin-right: 0px;
}

.canvas1 {
	width: 200px;
	heigth: 300px;
	float:left;
	}

	.canvas2 {
		width: 200;
		heigth: 300;

		}

.footer {
   position: absolute;
   right: 0;
   left: 0;
   padding: 20px;
   height: 20px;
   font-family: sans-serif;
   color: gray;
   text-align: center;
   font-size: 10;
 }
/*
footer {
	clear: both;
	padding-top: 30px;
}
